<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @burger.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @burger.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @burger.price %>
</p>

<p>
  <strong>Image:</strong>
  <%= @burger.image %>
</p>

<p>
  <strong>Nutriscore:</strong>
  <%= @burger.nutriscore %>
</p>

<p>
  <strong>Nutriments:</strong>
</p>
<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Quantité</th>
    </tr>
  </thead>

  <tbody>
    <% @burger.nutriments.each do |burger| %>
      <tr>
        <td>Salt</td>
        <td><%= burger["salt"] %> <%= burger["salt_unit"] %> </td>
      </tr>
      <td>Sugars</td>
      <td><%= burger["sugars"] %> <%= burger["sugars_unit"] %></td>
    <tr>
      <td>Proteins</td>
      <td><%= burger["proteins"] %> <%= burger["proteins_unit"] %></td>
    </tr>
    <tr>
      <td>Sodium</td>
      <td><%= burger["sodium"] %> <%= burger["sodium_unit"] %></td>
    </tr>
    <tr>
      <td>Energy</td>
      <td><%= burger["energy"] %> <%= burger["energy_unit"] %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_burger_path(@burger) %> |
<%= link_to 'Back', burgers_path %>
